#body_home {
  text-align: center;
}

#link1, #link2 {
  color:white;
  font-family: verdana;
  text-decoration: none;
}

#link3 {
  color:blue;
  font-family: verdana;
  text-decoration: none;
}

#link4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 30px;
  color:white;
  text-decoration: none;
}

#link4:hover {
  color: black;
}

#id {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}

#head {
  color: grey;
  font-family: Verdana;
}

#header_home {
  padding: 1em;
    background-color: black;
    text-align: center;
    color: white;
    font-family: verdana;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header_timeline {
  
    background-color: grey;
    clear: left;
    text-align: center;
    color: white;
    font-family: verdana;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#footer_home {
  padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer_timeline {
  padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#left {
    float: left;
    width: 300px;
    scroll-behavior: none;
    background-attachment: none;
    background: black;
    position: fixed;
    bottom: 6ex;
    left: 0;
    top: 12ex;
    text-align: center;
}

#left-content {
  border: 1px solid #000;
}

#right {
    float: right;
    text-align: center;
    width: 300px;
    scroll-behavior: none;
    background-attachment: none;
    background: black;
    position: fixed;
    bottom: 6ex;
    right: 0;
    top: 12ex;
}

#right-content {
  border: 1px solid #000;
}

#p_login {
  text-align: center;
  font-family: verdana;
  font-size: 10;
}

#form_login {
  text-align: center;
}

#middle1 {
  background-color: grey;
  color: white;
  margin: auto;
  width: 68%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 0ex;margin-bottom: 7ex;
}

#middle2 {
  background-color: grey;
  margin: auto;
  width: 68%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 0ex;
}

#personal {
  margin-top: 13ex;
  text-align: center;
  background-color: floralwhite;
}

#info1 {
  font-size: 25px;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#info2 {
  font-size: 20px;  
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#leftpane {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 55ex;
}

#rightpane {
  float: right;
  width: 50%;
  text-align: center;
  margin-top: 55ex;
}

#button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

#p_timeline {
  font-size: 30px;
  text-align: center;
}

#p_world {
  color: white;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#user {
  color: lime;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}